/* line 6, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
body {
  margin: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-7c9wav");
  src: url("fonts/icomoon.eot?#iefix-7c9wav") format("embedded-opentype"), url("fonts/icomoon.woff?-7c9wav") format("woff"), url("fonts/icomoon.ttf?-7c9wav") format("truetype"), url("fonts/icomoon.svg?-7c9wav#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 22, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 36, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
.icon-honey-logo:before {
  content: "\e600";
}

/* line 41, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
#logo {
  font-size: 20.0rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: table;
}
/* line 51, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
#logo div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 59, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
#fullimg {
  width: 100%;
  height: auto;
  min-width: 800px;
  min-height: 100%;
  z-index: -1;
  position: fixed;
}
/* line 67, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
#fullimg img {
  width: 100%;
  height: auto;
  min-width: 800px;
  min-height: 100%;
  position: absolute;
}

/* line 78, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
.soundcloud iframe {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  height: 35%;
  width: 35%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

