/* line 6, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
body {
  margin: 0;
}

/* line 12, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
div.resize-image img {
  width: 100%;
}

/* line 17, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
#slide {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 24, /Users/yukidoi/Projects/honey/sources/honey/app/assets/stylesheets/streams.scss */
#slide img {
  position: absolute;
  left: 0;
  top: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

